@page "/"

<h1>Todoアプリです</h1>

<h3>▼下のリンクからTodoページに移動</h3>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
<a href="/todo">Todoに移動</a>
@*<ul>
    @foreach (todo in Todo) {
        <li></li>

    }
</ul>*@

@code{

}
