@page "/todo"

<h3>Todo @todoItems.Count(todoItems => !todoItems.IsDone)</h3>
<br>
<input placeholder="what do you want?" @bind="newTodo" />
<button @onclick="AddTodo">Add Todo</button>
<button @onclick="ClearTodo">クリア</button>
<br>
<br>
<h5>▽Todoが表示されます▽</h5>
@foreach (var todos in todoItems)
{
    <table>
        <tr>
            <td>
                <h7>@dateTime</h7>
            </td>
            <td>
                <input type="checkbox" @bind="todos.IsDone" />
            </td>
            <td>
                <input @bind="todos.Title" />
            </td>
            <td>testestest</td>
        </tr>
    </table>
  }


    @code {    private List<TodoItem> todoItems = new List<TodoItem>();
                private string newTodo;
                public string dateTime = DateTime.Now.ToString("yyyy/MM/dd");

                void AddTodo()
                {
                    Console.WriteLine("push");
                    if (!string.IsNullOrWhiteSpace(newTodo))
                    {
                        todoItems.Add(new TodoItem { Title = newTodo });
                        newTodo = string.Empty;
                    }
                }

                void ClearTodo()
                {
                    todoItems.Clear();
                }

                @*void DeleteTodoItem() {
                        for (int i = todoItems.Count - 1; i >= 0; i--)
                        {
                            todoItems.RemoveAt(i);
                        }

                    }*@
    }
